@media only screen and (max-width: 1000px) {
  .desktop-nav {
    display: none;
  }
  .mobile-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 0;
  }
  .side-nav-bg {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.01);
    pointer-events: none;
    z-index: 24;
    opacity: 0;
    cursor: none;
  }
  .side-nav-bg .cursor-close {
    position: absolute;
    color: #000;
    pointer-events: none;
    height: 50px;
    width: 50px;
  }
  .side-nav-bg .cursor-close img {
    width: 100%;
  }
  .side-nav-bg.active {
    opacity: 1;
    pointer-events: auto;
  }
  .side-nav {
    position: fixed;
    left: -400px;
    top: 0;
    background-color: #000000;
    height: 100%;
    width: 300px;
    z-index: 25;
    overflow-y: auto;
    display: block;
    -webkit-transition: 0.45s cubic-bezier(0, 0, 0, 1);
    transition: 0.45s cubic-bezier(0, 0, 0, 1);
    pointer-events: none;
  }
  .side-nav.active {
    left: 0;
    pointer-events: auto;
  }
  .side-nav ul {
    margin-top: 2rem;
  }
  .side-nav ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding: 0 1rem;
    cursor: pointer;
  }
  .side-nav ul li .side_nav_drop {
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0;
    margin-bottom: 15px;
    border-radius: 15px;
    display: none;
  }
  .side-nav ul li .side_nav_drop.show {
    display: block;
  }
  .side-nav ul li .side_nav_drop li {
    border-bottom: 1px solid #000000;
  }
  .side-nav ul li i {
    color: #ffffff;
    font-size: 14px;
    -webkit-transition: 0.45s cubic-bezier(0, 0, 0, 1);
    transition: 0.45s cubic-bezier(0, 0, 0, 1);
  }
  .side-nav ul li i.rotate {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
  .side-nav ul li span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .side-nav ul li a, .side-nav ul li span {
    color: #ffffff;
    font-size: 20px;
    line-height: 4rem;
  }
  .mobile-nav {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    -webkit-box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
  }
  .mobile-nav .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mobile-nav .header .logo {
    margin: 1rem 0;
  }
  .mobile-nav .header .nav-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    position: relative;
  }
  .mobile-nav .header .nav-list .shopping-bag {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile-nav .header .nav-list .shopping-bag .cart {
    height: 40px;
    width: 40px;
    position: relative;
  }
  .mobile-nav .header .nav-list .shopping-bag .cart .count {
    position: absolute;
    top: 65%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff;
  }
  .mobile-nav .header .nav-list .shopping-bag .cart img {
    width: 100%;
  }
  .mobile-nav .header .nav-list .icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px;
    width: 100%;
    border: 1px solid #666666;
    cursor: pointer;
  }
  .mobile-nav .header .nav-list .icon i {
    color: #666666;
  }
  .mobile-nav .header .nav-list .icon .cart, .mobile-nav .header .nav-list .icon .profile {
    height: 25px;
    width: 25px;
    position: relative;
  }
  .mobile-nav .header .nav-list .icon .cart .count, .mobile-nav .header .nav-list .icon .profile .count {
    position: absolute;
    top: 65%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
  }
  .mobile-nav .header .nav-list .icon .cart img, .mobile-nav .header .nav-list .icon .profile img {
    width: 100%;
  }
  .search-pop {
    position: fixed;
    top: -100px;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 25;
    pointer-events: none;
    -webkit-transition: 0.45s cubic-bezier(0, 0, 0, 1);
    transition: 0.45s cubic-bezier(0, 0, 0, 1);
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  .search-pop.active {
    top: 0;
    pointer-events: auto;
  }
  .search-pop .inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 5fr .8fr;
        grid-template-columns: 1fr 5fr .8fr;
    border-bottom: 1px solid #666666;
  }
  .search-pop .inner select {
    border-right: 1px solid #666666;
    padding: 1rem;
  }
  .search-pop .inner .group {
    position: relative;
    border-right: 1px solid #666666;
  }
  .search-pop .inner .group input {
    padding: 1rem;
    width: 100%;
  }
  .search-pop .inner .group .search-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .search-pop .inner .search-close-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
}
/*# sourceMappingURL=responsive.css.map */